@import 'variables';

.footer-container {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: $primary;
    padding: 2rem 0;
  
    .footer {
      width: $max-nav-width;
      grid-gap: $gutter;
      display: flex;
      margin: 0 auto;
    
      &__text {
        font-size: 1.4rem;
        color: $primary-light;
        &:first-child {
          margin-right: auto;
        }
      }
      @media only screen and (max-width: $medium-breakpoint) {
        width: 80%;
      }
      @media only screen and (max-width: $small-breakpoint) {
        width: 100%;
        &__text {
          font-size: 1.2rem;
          padding: 0 1.5rem;
        }
      }
    }
  }
  