$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;
$max-nav-width: 70%;

$gutter: 8px;
$gray: #333;
$primary: #1977F3;
$primary-light: #EEF5FE;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;
